@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

:root {
    --primeira-cor: #E6A800;
    --segunda-cor: #fff;
    --terceira-cor: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: var(--segunda-cor);
}

.one1 {
    width: 100%;
    height: 5px;
    background: white;
}

.one {
    width: 100%;
    height: 3px;
    background: #000000;
}

section {
    width: 100%;
    height: 100vh;
}

/*INICIO CABEÇALHO*/
header {
    max-width: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    max-height: 120px;
    position: fixed;
    background-color: var(--segunda-cor);
    z-index: 10;
}

.navbar li a {
    position: relative;
}

.navbar li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}



.navbar li:hover a {
    color: #E6A800;
}

.navbar li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 400;
    cursor: pointer;
    padding-left: 500px;

}

.cabeçalho-link a {
    color: var(--terceira-cor);
    font-size: 23px;

}

.cabeçalho-link a:hover {
    color: var(--primeira-cor);
    transition: 0.3s all;

}

#logo {
    scale: 20%;
    padding-top: 50px;
}

button {
    color: var(--primeira-cor);
    font-size: 25px;
    background: transparent;
    border: solid 1px;
    border-radius: 30px;
    width: 150px;
    margin-top: -5px;
}

button:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.5s;
}



/*FIM CABEÇALHO*/

/*INICIO HOME*/
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top: 120px;

}

.container-text {
    padding: 0 0 0 40px;
}

.text h3 {
    color: black;
    font-size: 70px;
}

.text h2 {
    color: black;
    font-size: 50px
}

.text h1 {
    color: black;
    font-size: 5px;

}

.text span {
    color: var(--primeira-cor);
}

.container-image {
    scale: 85%;
}

.btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: var(--terceira-cor);
    border: 1px solid var(--terceira-cor);
    border-radius: 50px;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 35px;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease;
    margin-top: 10px;
    margin-left: 85px;
}


.btn:hover {
    background-color: var(--primeira-cor);
    color: var(--segunda-cor);
    border: 1px solid var(--segunda-cor);

}

.btn-container {
    width: 280px;
    background-color: transparent;
    color: var(--terceira-cor);
    padding: 5px 5px 5px 0;
    transition: all 400ms ease;
    position: relative;
    align-items: center;
    color: #fff;

}

.btn-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #E6A800;
    border: 0px solid var(--primeira-cor);
    border-radius: 50px;
    transition: all 400ms ease-in-out;

}

.btn-container i {
    margin-right: 3rem;
    color: var(--segunda-cor);
    font-size: 3rem;
    z-index: 10;

}

.btn-container:hover::before {
    width: 100%;
    z-index: -1;

}

.btn-container:hover {
    color: var(--segunda-cor);
    z-index: 10;

}

/*FIM HOME*/

/*CARDÁPIO*/
.cardapio {
    background-color: #E6A800;
    max-height: 100vh;
    align-items: flex-end;

}

.col {
    display: inline-block;
    margin-left: 40px;
    margin-top: 50px;

}

.flip-card-back p {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;

}

.flip-card-back h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    text-decoration: underline;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 310px;
    height: 210px;
    border: 5px;
    border-style: solid;
    border-color: #000000;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}


/*FIM CARDÁPIO*/


/*SOBRE*/
.sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--terceira-cor);
}

#img-sobre {
    width: 500px;
    max-height: 80vh;
    position: relative;
    border-style: solid;
    border-color: #E6A800;
    border-width: 5px;
    border-radius: 25px 25px 25px 25px;
    margin: 50px;

}

.txt-sobre h1 {
    color: var(--segunda-cor);
    font-size: 6rem;
    padding-bottom: 10px;
    padding-top: 5px;
    text-decoration: underline;
    justify-content: space-around;

}

.txt-sobre p {
    color: var(--segunda-cor);
    font-size: 3rem;
    text-align: justify;
    padding-right: 30px;


}

/*FIM SOBRE*/

/* Social Media */
#social_media {
    display: flex;
    justify-content: center;
    margin-right: 5px;

}

.fb {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;


}

.google {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    position: relative;
}

.git {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    position: relative;
}

#social_media img:hover {
    transform: scale(1.2);
}

.rodape {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
    background-color: #E6A800;
    position: relative;

}

.txt-rodape {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #fff;
}


::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: var(--primeira-cor);
    border-radius: 15px;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    height: 5rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
}

.navbar button {
    background-color: #E6A800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cabeçalho-link {
    background-color: #fff;
    color: #E6A800;
    text-align: center;
    padding: 50px 0;
    margin-top: 70px;
}

.cabeçalho-link h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.cabeçalho-link h1 span {
    font-size: 40px;
    font-weight: 700;
}
